body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: chocolate;
  box-sizing: border-box;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.codeable-white {
  font-family: 'Roboto slab', sans-serif;
  color: #fff;
}
.codeable-gray {
  color: #999b9e;
}

.card {
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: darkolivegreen;
  font-family: 'Gugi', sans-serif;
}

header h1 {
  
  color: darkgray;
}

header nav ul {
  margin: 0;
  padding: 0;
  
}

header nav ul li {
  display:inline-block;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  display: block;
  color: darkgrey;
}

header nav ul li a:hover {
  text-decoration: underline;
  background-color: blueviolet;
}

section {
  min-height: 100vh;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#home .right {
  width: 50%;
  height: 100vh;
  background-color: cornflowerblue;
}

#home .left {
  width: 50%;
  height: 100vh;
  background-color: tomato;
  padding: 0 20px;
}

#projects ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#projects ul li {
  list-style: none;
}
#projects article {
  width: 300px;
  height: 400px;
}
#projects article h3 {
  font-weight: bold;
  height: 200px;
  padding:0;
  margin:0;
  
}

#projects {
  font-size: 14px;
  color: #333;
}

#project01 {
  background-image: url(https://placekitten.com/300/200);
  background-repeat: no-repeat;
}
#project02 {
  background-image: url(https://placekitten.com/300/200);
  background-repeat: no-repeat;
}
#project03 {
  background-image: url(https://placekitten.com/300/200);
  background-repeat: no-repeat;
}
#project04 {
  background-image: url(https://placekitten.com/300/200);
  background-repeat: no-repeat;|
}

footer {
  position: relative;
  bottom: 0;
}
